/* =========================================
   HOME
   ========================================= */

.bienvenidos {
    width: 70%;
    padding-right: 25px;
    box-sizing: border-box;
}


.testimonios {
    width: 30%;
    padding-left: 5px;
    justify-content: space-between;
}


.columnas {
    display: flex;
}


.bienvenidos p {
    font-size: 18px;
    line-height: 21px;
}


.testimonios h2 {
    font-size: 20px;
}


.testimonio {
    background: var(--color-azul);
    border-radius: 15px;
    padding: 16px;
}


.testimonio .cita {
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    display: block;
}


.testimonio .autor {
    font-weight: 400;
    font-size: 12px;
    display: block;
    text-align: right;
}