/* =========================================
   NOSOTROS
   ========================================= */

.historia p {
    font-size: 16px;
    line-height: 18px;
}


/* Queria lograr que se vea el texto al lado
   de las imagenes, y no queria caer en el
   "zigzag" de la seccion de servicios */

.personas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 960px;
    align-items: flex-end; 
    margin: 20px auto;
}


.persona {
    display: flex;
    align-items: center;
    gap: 30px;
}


.personainfo {
    text-align: right;
    line-height: 8px;
}


.persona img {
    width: 100px;
    max-width: 60%;
    height: auto;
    display: block;
}


.personainfo h3,
.personainfo h4 {
    color: var(--color-naranja);
}


.personainfo h4 {
    font-style: italic;
    font-weight: 500;
}


.personainfo p {
    font-size: 14px;
}